{% extends 'users/base.html' %} {% load static %} {% block content %}
<form method="post">
  {% csrf_token %}
  <div>
    <label for="email">Email Address</label>
    <input id="email" type="email" name="email" placeholder="me@example.com" required />
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="********" required />
  </div>

  {% for field in login_form %}
  <p>
    {% for error in field.errors %}
    <p class="error-color">{{ error }}</p>
    {% endfor %}
  </p>
  {% endfor %}
  {% if login_form.non_field_errors %}
  <div class="error-color">
    <p>{{ login_form.non_field_errors }}</p>
  </div>
  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
{% endblock %}
