{% extends 'users/base.html' %} {% load static %} {% block content %}
<form method="post">
  {% csrf_token %}
  <div>
    <label for="id_old_password">Password</label>
    <input
      id="id_old_password"
      type="password"
      name="old_password"
      placeholder="Old password"
      required="true"
    />
  </div>

  <div>
    <label for="id_new_password1">Password</label>
    <input
      id="id_new_password1"
      type="password"
      name="new_password1"
      placeholder="New password"
      required="true"
    />
  </div>

  <div>
    <label for="id_new_password2">Password</label>
    <input
      id="id_new_password2"
      type="password"
      name="new_password2"
      placeholder="Confirm password"
      required="true"
    />
  </div>

  {% for field in form %} {% for error in field.errors %}
  <p class="error-color">{{ error }}</p>
  {% endfor %} {% endfor %}

  <button
    id="id_submit_btn"
    class="btn btn-lg btn-primary btn-block"
    type="submit"
  >
    Reset Password
  </button>
</form>
{% endblock %}
