{% extends 'users/base.html' %} {% load static %} {% block content %}

<form id="id_password_reset_form" method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
  <div>
    <label>Email Address</label>
    <input
      id="id_email"
      type="email"
      name="email"
      placeholder="me@example.com"
      required="true"
    />
  </div>

  <button
    id="id_submit_btn"
    class="btn btn-lg btn-primary btn-block"
    type="submit"
  >
    Send reset email
  </button>
</form>

{% endblock %}
